rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Transactions/{document=**} {
      // user can create a transaction only if he is authenticated.
      allow create: if request.auth != null;
      // user can only delete or read his transactions after he is authenticated
      allow read, delete: if request.auth.uid == resource.data.uid; 
    }
  }
}